{
  "swagger" : "2.0",
  "info" : {
    "version" : "0.0.1",
    "title" : "Superon API"
  },
  "host" : "superon.lifeapps.com.br:3000",
  "basePath" : "/api/v3",
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/orders/ready-to-deliver" : {
      "get" : {
        "description" : "Returns orders in the state \"Ready to Deliver\"",
        "operationId" : "get-all-orders-ready-to-deliver",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/OrdersResponse"
            }
          },
          "default" : {
            "description" : "Error",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/swagger" : {
      "x-swagger-pipe" : "swagger_raw"
    }
  },
  "securityDefinitions" : {
    "Bearer" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "ErrorResponse" : {
      "required" : [ "message" ],
      "properties" : {
        "message" : {
          "type" : "string"
        },
        "code" : {
          "type" : "number"
        },
        "cause" : {
          "type" : "string"
        }
      }
    },
    "OrdersResponse" : {
      "properties" : {
        "numorder" : {
          "type" : "number"
        },
        "products" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/#definitions/ProductResponse"
          }
        }
      }
    }
  }
}